doc/pelican-plugins
doc/pelican-themes


*.tar.gz

.DS_Store
*.pyc
output/
doc/cache
*.idea

*~
*.txt

#### Matlab
*.m~

### Authorisations to access Prov Store
nidm/nidm-results/scripts/store_login_key.txt

### Ignore .nii.gz, csv and png data in exports
nidm/nidm-results/test/spmexport/**.nii.gz
nidm/nidm-results/test/spmexport/**.csv
nidm/nidm-results/test/spmexport/**.png

### Ignore debug log file
debug.log

### Ignore protege catalog for imports
nidm/imports/catalog*

### Ignore _ignored folders
**/_ignored