.DS_Store
*.pyc
output/
doc/cache

#### Matlab
*.m~

### Authorisations to access Prov Store
nidm/nidm-results/scripts/store_login_key.txt

### Ignore .nii.gz, csv and png data in exports
nidm/nidm-results/test/spmexport/**.nii.gz
nidm/nidm-results/test/spmexport/**.csv
nidm/nidm-results/test/spmexport/**.png